



.background {
    -fx-background-image: url("../graphics/misc/sfondo parquet.jpg");
    -fx-background-size: stretch;
}
.background1 {
    -fx-background-image: url("../graphics/boards/livingroom.png");
    -fx-background-size: stretch;
}


